html,body{
    height:100%;
	width: 100%;
	font-family: sans-serif;
	margin:auto;
	padding:0; 
	border:0;
	text-align:center;
	transition: 0.5s all ease;
	background-color:rgb(236, 236, 248);
}
nav{
    -webkit-tap-highlight-color: rgba(255, 230, 204,.4);
	transition: 1s;
    background: linear-gradient(rgb(255, 179, 102)30%,transparent 70%);
	position:absolute;
	height: 15%;
	width:100%;
	font-size:25px;
    display: inline-block;
}
.container{
	display:block;
	margin:auto;
}
/* Should give a filter over the logo */
.logo_container{
    background: rgba(255, 179,102,.4);
}
.logo{
	display:block;
	float:left;
}
.logo img{
	border-radius: 5px;
	box-shadow: 0 8px 20px rgba(230, 230, 255);
	width: 50px;
	height: 50px;
}
/*container that hold the title on the right*/
.menu{
	padding: 10px;
	display:inline-block;
	margin:auto;
	float:right;
}
.effect{
	color: rgb(128, 66, 0);
	text-shadow:0 0px 10px rgba(255, 230, 204,.6);
    text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	padding:10px;
	cursor:pointer;
	border:none;
	display:auto;
	transition: 1s;
	font-weight:bold;
}
/*Changes the color of the nav titles*/
.effect:hover,.effect:focus{
	color:rgb(204, 105, 0);
	text-shadow:0 0px 20px hsl(240, 52%, 95%);
}

/*home,about, petition and signup are containers that hold content of their respective titles*/
.hold{
	display:inline-block;
	position:relative;
}
.l{
    display: none;
}
/*makes sure the titles and content are inline*/
.cont{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.cont h1{
	padding: 30px;
}
/*gives the image an outside shape*/
.heading{
	-webkit-clip-path: circle(70.9% at 32% 39%);
     background-image: url(../images/history1.jpg);
     shape-outside:circle(70.9% at 32% 39%);
     background-size: cover;
     box-shadow:0 0 10px rgb(51, 26, 0);
     width: 600px;
     height: 600px;
     float: left;
     margin-right: 40px;
}
/*gives the title a shape*/
.heading-1{
	-webkit-clip-path: circle(70.9% at 32% 39%);
     clip-path: circle(70.9% at 32% 39%);
     width: 460px;
     height: 460px;
     background-color: rgba(255, 179, 102,0.8);
     padding: 20px;
     box-shadow:0 0 10px rgb(51, 26, 0);
}
.heading-1 h1{
	text-align: center;
	position: relative;
	top: 10%;
	left: -5%;
	font-size: 90px;
	letter-spacing: 2px;
	color:rgb(102, 51, 0);
	text-shadow:0 0 8px #fff1e6,0 1px 3px rgba(102, 51, 0,0.8);
}
.word{
	padding: 40px;
	text-align: left;
}
.word h2{
	text-align: center;
	padding: 10px;
	font-size: 40px;
	letter-spacing:1px;
	color:rgb(102, 51, 0);
	text-transform: uppercase;
}
.base{
	width: 100%;
	height:10%;
	background-color:rgb(204, 99, 0);
	display: inline-block;
	margin: 0px;
}
.base i{
	padding-top:20px;
	padding-right:15px;
}
.base div{
	position: relative;
	left: 390px;
	float: left;
}
.base div h5{
	font-size: 20px;
}
